@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Kumbh Sans", serif;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
}


.parent {
    width: 451px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px hsl(0, 0%, 59%);
    position: relative;
    z-index: 5;

    & .bannner_image {
        background-image: url("./profile-card-component-main/images/bg-pattern-card.svg");
        background-size: cover;
        height: 130px;
        position: relative;

        & img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -30px;
            border-radius: 50%;
        }
    }

    .header {
        text-align: center;
        margin: 25px 0;
        margin-top: 50px;

        & h1 {
            font-size: 22px;
            color: hsl(229, 23%, 23%);
            padding-bottom: 7px;

            & span {
                color: #6d6b6b;
                font-weight: 300;
            }
        }
    }


    .followers {
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
        text-align: center;

        & span {
            color: hsl(0, 0%, 59%);
        }
    }
}


@media (max-width:767px) {
    .parent {
        width: 320px;

        & .followers {
            font-size: 13px;
        }
    }
}

.images {

    & .top {
        position: absolute;
        top: -50%;
        left: -35%;
    }

    & .bottom {
        position: absolute;
        bottom: -50%;
        right: -35%;
    }

    @media (max-width:767px) {
        & {
            display: none;
        }
    }
}